<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nightCityBlogs.mapper.article.ArticleMapper">
    <update id="addViewsCount">
        update article
        set viewsCount = viewsCount + 1
        where id = #{id}
    </update>
    <select id="getArticleAll" resultType="com.nightCityBlogs.pojo.Entity.ArticleEntity">
        select *
        from article
    </select>
    <select id="getArticle" resultType="com.nightCityBlogs.pojo.Entity.ArticleEntity">
        select *
        from article
        where id = #{id}
    </select>
    <select id="getCategorizedItems" resultType="com.nightCityBlogs.pojo.Entity.ArticleEntity">
        select *
        from article
        where classification = #{classify}
    </select>
    <select id="getFocusArticle" resultType="com.nightCityBlogs.pojo.Entity.ArticleEntity">
        select * from article where isFocus = 'true'
    </select>
</mapper>