<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nightCityBlogs.mapper.user.SelectMapper">
    <select id="selectByName" resultType="com.nightCityBlogs.pojo.Entity.UserEntity">
        select *
        from userData
        where userName = #{username}
    </select>
    <select id="selectById" resultType="com.nightCityBlogs.pojo.Vo.UserVo">
        select *
        from userData
        where id = #{id}
    </select>
    <select id="selectUserNumber" resultType="java.lang.Integer">
        select count(id) from userData
    </select>
    <select id="selectArticleNumber" resultType="java.lang.Integer">
        select count(id) from article
    </select>
</mapper>